<h1>Password_reset</h1>

<p>To reset your password click the lank below</p>


<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                              email: @user.email) %>
                              
<p>This link will expire in two hours.</p>

<p>
If you did not request you  password to be reset, please ignore thie email and 
your password will stay as it is.
</p>